/* Pulled from Chirper project for now */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0B192E;
  color: #C0CAEA;
}

a {
  text-decoration: none;
  color: #C0CAEA;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #0B192E;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  align-items: center;
  background-color: #0A192E;
  /* margin-bottom: 20px; */
  /* from books search */
  /* opacity: .9;
  z-index: 5; */
  /* position: fixed; */
  /* width: 100%; */
  /* padding: 0 5% 0 5%; */
  /* top: 0;
  left: 0;
  right: 0; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  /* end from books */
  /* width: 100%; */

}
.nav .logo {
  font-weight: bolder;
  margin-left: 25px;
  display: flex;
  align-items: center;
  font-size: larger;
  color: #3cd6c7;
}
.nav ul {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav .logout {
  margin-right: 15px;
}

.nav .num {
  color: #3cd6c7;
  font-weight: 100;
}
.logout button {
  margin-left: 10px;
  padding: 8px;
  background-color: #0A192F;
  background-color: none;
  border-radius: .2em;
  border: 1px solid #3cd6c7;
  font-weight: light;
  color: #3cd6c7;
  /* padding: 5px; */
  /* border-radius: 15px;
  border: 1px grey; */
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

.poll {
  width: 95%;
  display: flex;
  background-color: #162A46;
  margin: 0 auto;
  border-radius: 2px;
  justify-content: center;
  text-align: center;
}

.poll-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* tabs */

/* *, ::before, ::after {
  /* box-sizing: border-box; */
  /* margin: 0;
  padding: 0; */


.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 700px;
  margin: 25px auto 20px;
  /* border: 1px solid white; */
  /* border-radius: 5px; */
}

.welcome {
  margin-left: 2%;
}
.welcome p {
  margin: 8px 0px 60px 0px;
}
.welcome h2 {
  margin: 0px;
}

.bloc-tabs {
  display: flex;
  justify-content: flex-start;
  /* width: fit-content; */
  min-width: 200px;
  max-width: 350px;
  margin-left: 2%;
  /* padding: 0 3% 0; */
}
.bloc-tabs button{
  font-size: large;
  border: none;
  font-weight: bold;
}

.tabs {
  /* padding: .5rem; */
  text-align: center;
  width: 50%;
  background: inherit;
  color: rgb(144, 138, 138);
  cursor: pointer;
  /* border-bottom: 1px solid white; */
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.active-tabs  {
  color: #C0CAEA;
  /* color: white; */
}
.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(75%);
  height: 2px;
  /* background: rgb(248, 247, 246); */
  background: #3cd6c7;
}

.content-tabs {
  flex-grow : 1;
}

.content {
  /* background: inherit;
  width: 100%;
  height: 100%; */
  display: none;
}

.active-content {
  display: block;
}
