/* Pulled from Chirper project for now */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #252525;
  color: #beb8b8;
}

a {
  text-decoration: none;
  /* color: #252525; */
  color: #bdb9b9;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: #252525;
}

.poll {
  width: 90%;
  max-width: 590px;
  /* max-height: 250px; */
  /* padding: 10px; */
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}

.poll-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
.nav .user {
  padding-left: 100px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

/* tabs */

/* *, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  background: #fff;
} */

.tabs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  max-width: 800px;
  /* height: 300px; */
  /* background: #f1f1f1; */
  margin: 100px auto 0;
  /* word-break: break-all; */
  border: 1px solid white;
}

.bloc-tabs {
  display: flex;
}

.bloc-tabs button{
  font-size: large;
  font-weight: bold;
  /* width: auto; */
  /* display: flex; */
  margin-bottom: 20px;
}

.tabs {
  padding: 1.5rem;
  text-align: center;
  width: 50%;
  /* background: rgba(128, 128, 128, 0.075); */
  background: inherit;
  color: rgb(144, 138, 138);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  border: 1px solid white;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.active-tabs-polls  {
  /* background: white; */
  border: 1px solid transparent;
  color: rgb(241, 149, 88);
}

.active-tabs-results  {
  /* background: white; */
  border: 1px solid transparent;
  color: rgb(24, 143, 218);
}

/* .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 3px;
  background: rgb(241, 149, 88);
} */

button {
  border: none;

}
.content-tabs {
  flex-grow : 1;
}
.content {
  /* background: white; */
  background: inherit;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
/* .content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
} */
.content p {
  /* width: 100%;
  height: 100%; */
  text-align: center;
}
.active-content {
  display: block;
}
