/* GLOBAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0B192E;
  color: #C0CAEA;
}

a {
  text-decoration: none;
  color: #C0CAEA;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
  padding: .5rem;
}

input {
  cursor: pointer;
}

hr {
  border: none;
  height: .1px;
  background-color: grey;
}

label {
  font-size: 1.25rem;
}

button {
  border: 1px solid #0B192E;
  border-radius: .4em;
  background-color: #16a093;
  color: black;
  padding: 5px 10px;
  margin: 10px;
  letter-spacing: 1.5px;
}
button:hover {
  cursor: pointer;
  opacity: .9;
}
button:disabled{
  background-color: #16a093;
  color: black;
  border-radius: .4em;
  opacity: .4;
  cursor: inherit;
  padding: 5px 10px;
  margin: 10px;
}

.avatar {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

/* LAYOUT */

.container {
  max-width: 1000px;
  padding-top: 8rem;
  margin: 0 auto;
  background-color: #0B192E;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto 1rem;
  padding: 0 1rem;

}
.content-wrapper ul {
  margin: 0;
}
.content-wrapper ul > * {
  margin-bottom: 1rem;
  padding: 0;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #0A192E;
  opacity: .9;
  z-index: 5;
  position: fixed;
  padding: 0 2% 0 2%;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.nav .logo {
  font-weight: bolder;
  margin-left: .5rem;
  font-size: larger;
  color: #3cd6c7;
}
.nav ul {
  display: flex;
  margin: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav .num {
  color: #3cd6c7;
  font-weight: 100;
}
.nav button {
  background-color: transparent;
  border-radius: .4em;
  margin: 0px;
  border: 1px solid #3cd6c7;
  color: #3cd6c7;
}

/* HEADER */

.header {
  margin-left: 2%;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}
.header p {
  margin: .5rem 0;
  color: #a3acca;
  font-weight: lighter;
}
.header h1 {
  margin: 0px;
}

/* CARDS */

.card {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  background-color: #162A46;
  margin: 0 auto;
  border-radius: .4em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.card-info {
  width: 100%;
  padding: 1rem;
}

.card-top {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.card-top .content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.card-top .avatar {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.card-top p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.card-top span {
  font-size: .9rem;
  color: #5f6578;
  font-weight: light;
}
.card-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.new-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* p {
  margin: 0;
} */
.text-standout {
  color: #3cd6c7dc;
}

/* HOME TABS */

.tabs-wrapper {
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  max-width: 350px;
  margin-left: 2%;
}
.tabs-wrapper button{
  margin: 0 0 1rem;
  font-size: large;
  border: none;
  font-weight: bold;
}

.tabs {
  text-align: center;
  width: 50%;
  background: inherit;
  color: rgb(144, 138, 138);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.active-tabs  {
  color: #C0CAEA;
}
.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(75%);
  height: 2px;
  background: #3cd6c7;
}

.content-tabs {
  flex-grow : 1;
}

.content {
  display: none;
}
.active-content {
  display: block;
  padding: 0;
  margin: 0;
}
